//colors:
$colorSchemes: (
    darkpurple1: #240046,
    darkpurple2: #3c096c,
    darkpurple3: #5a189a,
    darkpurple4: #7b2cbf,
    lightpurple1: #9d4edde3,
    lightpurple2: #c77dffef,
    )